<div class="container product-form-container">
  <h2 class="form-title">Edit Product</h2>

  <div *ngIf="loading" class="text-center">
    <p>Loading...</p>
  </div>

  <div *ngIf="error" class="alert alert-danger">
    {{ error }}
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="form">
    <div class="form-group">
      <label for="nameProduct">Product Name</label>
      <input type="text" id="nameProduct" class="form-control rounded-input" formControlName="nameProduct" />
      <small class="text-danger" *ngIf="form.get('nameProduct')?.invalid && form.get('nameProduct')?.touched">
        Name must start with an uppercase letter.
      </small>
    </div>

    <div class="form-group">
      <label>Product Image</label>
      <input type="file" class="form-control-file" (change)="onFileSelected($event)" id="imageUpload" />
    </div>

    <div class="form-group">
      <label for="categoryProduct">Product Category</label>
      <select id="categoryProduct" class="form-control rounded-input" formControlName="categoryProduct" (change)="onCategoryChange(); updateSizeGuideInputs()" >
        <option *ngFor="let category of allCategories" [value]="category">{{ category }}</option>
      </select>    
    </div>
    
    <div class="form-group">
      <label for="productDescription">Description</label>
      <input type="text" id="productDescription" class="form-control rounded-input" formControlName="productDescription" />
    </div>

    <div class="form-group">
      <label for="genderProduct">Product For:</label>
      <select id="genderProduct" class="form-control rounded-input" formControlName="genderProduct" (change)="onGenderChange(); updateSizeGuideInputs()">
        <option *ngFor="let gender of productGenders" [value]="gender">{{ gender }}</option>
      </select>    
    </div>

    <div class="form-group">
      <label for="productSize">Product Size:</label>
      <select id="productSize" class="form-control rounded-input" formControlName="productSize">
        <option *ngFor="let size of filteredSizes" [value]="size">{{ size }}</option>
      </select>
    </div>
    <!-- Size Guide -->
    <button type="button" class="btn btn-link p-0 mt-2" (click)="toggleSizeGuide()">Need help figuring out the product's size?</button>
    <div [class.active]="showSizeGuide" class="size-guide-sidebar">
      <h3>Size Guide</h3>

      <!-- Dynamic Inputs for Size Guide -->
      <div *ngIf="selectedGender === 'KIDS'" class="input-group">
        <label>Height:</label>
        <input type="number" formControlName="height">
        <label>Chest:</label>
        <input type="number" formControlName="chest">
        <label>Waist:</label>
        <input type="number" formControlName="waist">
      </div>
    
      <div *ngIf="selectedGender === 'WOMEN'" class="input-group">
        <label>Bust:</label>
        <input type="number" formControlName="bust">
        <label>Waist:</label>
        <input type="number" formControlName="waist">
        <label>Hips:</label>
        <input type="number" formControlName="hips">
      </div>
    
      <div *ngIf="selectedGender === 'MEN' && (selectedCategory === 'TOP' || selectedCategory === 'JACKET') " class="input-group">
        <label>Neck:</label>
        <input type="number" formControlName="neck">
        <label>Chest:</label>
        <input type="number" formControlName="chest">
        <label>Waist:</label>
        <input type="number" formControlName="waist">
      </div>
    
      <div *ngIf="selectedGender === 'MEN' && selectedCategory === 'PANTS'" class="input-group">
        <label>In Seam:</label>
        <input type="number" formControlName="inSeam">
        <label>Waist:</label>
        <input type="number" formControlName="waist">
      </div>
    
      <p *ngIf="sizeMessage" class="size-message">{{ sizeMessage }}</p>
    </div>  



    <div class="form-group">
      <label for="dateProductAdded">Date Added</label>
      <input 
        type="datetime-local" 
        id="dateProductAdded" 
        class="form-control rounded-input" 
        formControlName="dateProductAdded"
        readonly
      >
    </div>

    <div class="form-group">
      <label for="productDescription">Description</label>
      <input type="text" id="productDescription" class="form-control rounded-input" formControlName="productDescription" />
    </div>

   

    <div class="form-group">
      <label for="productPrice">Price</label>
      <input type="number" id="productPrice" class="form-control rounded-input" formControlName="productPrice" />
      <small class="text-danger" *ngIf="form.get('productPrice')?.invalid && form.get('productPrice')?.touched">
        Price must be greater than 0.
      </small>
    </div>

    <div class="form-group">
      <label for="productState">State</label>
      <select id="productState" class="form-control rounded-input" formControlName="productState">
        <option value="AVAILABLE">Available</option>
        <option value="SOLD">Sold</option>
      </select>
    </div>

      <button class="btn btn-primary rounded-button" type="submit" >Save Changes</button>
      <button class="btn btn-secondary rounded-button ms-2" type="button" (click)="onCancel()">Cancel</button>
    </form>
  
    <div *ngIf="!form">
      Loading product details...
    </div>
  </div>
  