.admin-container {
    display: flex;
    min-height: 100vh;
    background-color: #f8f9fa;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  app-sidebar {
    width: 250px;
    background-color: #fff;
    border-right: 1px solid #ddd;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 1.5rem;
    background-color: #f4f6f8;
    overflow-y: auto;
  }