<div class="sidebar">
    <div class="logo">
        <img src="/assets/img/logoApp/bar9achni1.png" alt="Career Coaches" />
    </div>

    <div class="sidebar-menu">
        <button routerLink="/admin/dashboard" class="menu-item active" (click)="setActive($event)">
            <i class="fas fa-home"></i>
            <span>Dashboard</span>
        </button>

        <button routerLink="/admin/ads" class="menu-item" (click)="setActive($event)">
            <i class="fas fa-tasks"></i>
            <span>Ad management</span>
        </button>

        <button routerLink="/admin/donation" class="menu-item" (click)="setActive($event)">
            <i class="fas fa-calendar-times"></i>
            <span>Donation management</span>
        </button>
        <button routerLink="/admin/commande" class="menu-item" (click)="setActive($event)">
            <i class="fas fa-calendar-times"></i>
            <span>Order Management</span>
        </button>

        <button class="menu-item" (click)="setActive($event)">
            <i class="fas fa-clock"></i>
            <span>Attendance</span>
        </button>

        <button class="menu-item" (click)="setActive($event)">
            <i class="fas fa-wallet"></i>
            <span>Payroll</span>
        </button>

        <button class="menu-item" (click)="setActive($event)">
            <i class="fas fa-chart-line"></i>
            <span>Performance</span>
        </button>

        <button class="menu-item" (click)="setActive($event)">
            <i class="fas fa-file-alt"></i>
            <span>Requirement</span>
        </button>

        <div class="menu-section" style="margin-top: auto; border-top: 1px solid #f0f0f0; padding-top: 15px;">
            <button class="menu-item" (click)="setActive($event)">
                <i class="fas fa-question-circle"></i>
                <span>Help Center</span>
            </button>

            <button class="menu-item" (click)="setActive($event)">
                <i class="fas fa-cog"></i>
                <span>Setting</span>
            </button>

            <button class="menu-item logout" (click)="setActive($event)">
                <i class="fas fa-sign-out-alt"></i>
                <span>Logout</span>
            </button>
        </div>
    </div>
</div>